<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" type="text/css" href="/CSS/main.css">
</head>
<body>
    {% if isInstructor == 0 %}
        <div>
            <ul>
			<li class="username">{{username}}</a></li>
			<li><a href="/student">Home</a></li>
			<li><a href="/student/view_all">My Questions</a></li>
			<li><a href="/student/ask">Submit a Question</a></li>
			<li><a href="/student/faq">FAQ</a></li>
			<li><a href="/change_password">Change Password</a></li>
			<li><a href="/logout">Log Out</a></li>
            </ul>
        </div>
    {% elif isInstructor == 1%}
        <div>
            <ul>
                <li class="username">{{username}}</a></li>
                <li><a href="/instructor">Home</a></li>
                <li><a href="/instructor/view_all">Questions</a></li>
                <li><a href="/instructor/faq">FAQ</a></li>
                <li><a href="/change_password">Change Password</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div>
    {% endif%}


    <div id="content">
        <h1>Change password for {{username}}</h1>
        <center>
            {% if incorrectPassword == 1 %}
            <p style="color:red"><b>Current Password is incorrect</b></p>
            {% endif %}

            <form action="/change_password" method="post">
                <table style="width:400px; border:none">
                    <tr>
                        <td align="right">Current Password</td>
                        <td><input required type="text" name="curPassword"></td>
                    </tr>

                   <tr style="background-color:#fafafa">
                        <td align="right">New Password</td>
                        <td><input required type="text" name="newPassword"></td>
                    </tr>
                </table>
                <input class="button" type="Submit" value="Submit">
            </form>
        </center>

    </div>
</body>
</html>