<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password Successful</title>
    <link rel="stylesheet" type="text/css" href="/CSS/main.css">
</head>

<body>
    <div id="content">
        <h1>Your password has been successfully changed</h1>

        {% if isInstructor == 0 %}
        <form action="/student" method="get">
            <input type="submit" value="Back">
        </form>
        {% endif %}

        {% if isInstructor == 1 %}
        <form action="/instructor" method="get">
            <input type="submit" value="Back">
        </form>
        {% endif %}

    </div>
</body>
</html>