<!DOCTYPE HTML>
<HTML>

<head>
	<title> Frequently Asked Questions</title>

	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
	<link rel="stylesheet" type="text/css" href="../CSS/main.css">
	<style>
		form{
			display:inline;
		}
	</style>
</head>

<body>
		<div id="menubar">
			<b>{{username.ePantherID}}</b> //
			<a href="/instructor">Home</a> -
			<a href="/instructor/view_all">Questions</a> -
			<a href="/instructor/faq">FAQ</a> -
			<a href="/instructor/create">Create New Users</a> -
			<a href="/logout">Log Out</a>
		</div>
	<div id="content">
		<h1>Frequently Asked Questions</h1>

		<p>For the most part, if you have a question, your peers have that same question too. The table below shows questions that your instructor frequently recieves, and wants to share with you and your peers. Please take a look through the table before submitting any questions, as your question may have already been answered!
		</p>

		<br>

		<form action="/instructor/faq" method="get">
			<p>Select a course</p>
			<select name="course">
				{% for c in username.courses %}
				<option value="{{c.get().name}}">{{c.get().name}}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Update">
		</form>

		{% if isChosen == 1 %}
		<div>
		<table align="center">
			<tr>
				<td colspan="2" align="center">
					<h4>{{courseName}}</h4>
				</td>
			</tr>
			<tr>
				<th>Question</th>
				<th>Answer</th>
			</tr>


			{% for q in faq %}
			<tr>
				<td>{{ q.get().question }}</td>
				<td>{{ q.get().answer }}</td>
			</tr>
			{% endfor %}
		</table>
		</div>
			<a id='add' href="/instructor/faq/faq_add">Add</a>
			<a href="/instructor">Back</a>
			<!--<a id='delete' href="/instructor/faq/faqdelete">Delete</a>-->
		</div>
		{% endif %}
</body>

</HTML>
