<!DOCTYPE HTML>
    <HTML>
        <head>
            <title >
                deleteFAQ
            </title>

            <link rel="stylesheet" type="text/css" href="/CSS/main.css">

        </head>
    <body>
        <div>
            <ul>
                <li class="username">{{username.ePantherID}}</a></li>
                <li><a href="/instructor">Home</a></li>
                <li><a href="/instructor/view_all">Questions</a></li>
                <li><a href="/instructor/faq">FAQ</a></li>
                <li><a href="/change_password">Change Password</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div>
        <div id="content">
            <h1>Delete an FAQ Item</h1>

            {% if noQuestionChosen == 1%}
            <center><p style="color:red"><b>No FAQ was selected</b></p></center>
            {% endif %}

            <form method='get' action = "/instructor/faq/faq_delete">
                Choose Course <select name="course">
                    {% for c in username.courses %}
                    <option value="{{c.get().name}}">{{c.get().name}}</option>
                    {% endfor %}
                </select>

                {% if courseIsChosen == 0 %}
                <input type="submit" value='Update'>
                {% endif %}
            </form>

            {% if courseIsChosen == 1%}
            <form action="/instructor/faq/faq_delete" method="post">
                Choose FAQ to Delete
                <select name="question">
                    {% for q in questions %}
                    <option value="{{ q.get().question }}">{{ q.get().question }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value='Remove'>
            </form>
            {% endif %}
        </div>
    </body>
</HTML>
