<!DOCTYPE html>
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="../CSS/main.css">
</head>
<body>

	<div id="menubar">
		<b>{{username}}</b> //
		<a href="/instructor">Home</a> -
		<a href="/instructor/view_all">Questions</a> -
		<a href="/instructor/faq">FAQ</a> -
		<a href="/change_password">Change Password</a> -
		<a href="/logout">Log Out</a>
	</div>

	<div id="content">
		<h1>View your course's questions</h1>

		<form action="/instructor/view_all" method="get">
			Pick a Course
			<select name="courseName">
				{% for c in courses %}
					<option value="{{c.get().name}}">{{c.get().name}}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Update">
		</form>

		{% if isChosen == 1 %}
		<table width="100%">
				<thead>
					<tr>
						<th>Question</th>
						<th>Submitted by</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					{% for q in selected_course.questions %}
						<tr>
							<td> <b> {{ q.body }} </b> </td>
							<td> {{ q.student }} </td>
							<td> </td>
						</tr>
						<tr>
							<td colspan="3"> {{ q.answer }} </td>
						</tr>
					{% endfor %}
				</tbody>
		</table>
		<br />
		{% endif %}

	</div>
</body>
</html>
