<!-- This file has been deprecated as of 11/8/16 by Sean Waiss-->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Redirect</title>
    <link rel="stylesheet" type="text/css" href="/CSS/main.css">
        <style>
            label{
                float: center;
                width: 150px;
            }

            .loginBox{
                float: center;
            }

            .button{
                margin-left: 245px;
                margin-top: 10px;
            }
        </style>
</head>
<body>
    <div id="content">
        <center>
            {% if credentials == 0 %}
            <h1>Welcome Student "{{username}}"</h1>
            <form action="/student">
                <input type="submit" value="Continue">
            </form>
            {% endif %}

            {% if credentials == 1 %}
            <h1>Welcome Instructor "{{username}}"</h1>
            <form action="/instructor">
                <input type="submit" value="Continue">
            </form>
            {% endif %}
       </center>
    </div>
</body>
</html>