<!DOCTYPE HTML>
<HTML>

<head>
	<title> Frequently Asked Questions</title>

	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
	<link rel="stylesheet" type="text/css" href="/CSS/main.css">
	<style>
		form{
			display:inline;
		}
	</style>
</head>

<body>
	<div>
		<ul>
			<li class="username">{{username.ePantherID}}</a></li>
			<li><a href="/student">Home</a></li>
			<li><a href="/student/view_all">My Questions</a></li>
			<li><a href="/student/ask">Submit a Question</a></li>
			<li><a href="/student/faq">FAQ</a></li>
			<li><a href="/change_password">Change Password</a></li>
			<li><a href="/logout">Log Out</a></li>
		</ul>
	</div>

	<div id="content">
		<h1>Frequently Asked Questions</h1>

		<p>For the most part, if you have a question, your peers have that same question too. The table below shows questions that your instructor frequently recieves, and wants to share with you and your peers. Please take a look through the table before submitting any questions, as your question may have already been answered!
		</p>

		<br>

		<form action="/student/faq" method="get">
			<p>Select a course</p>
			<select name="course">
				{% for c in username.courses %}
				<option value="{{c.get().name}}">{{c.get().name}}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Update">
		</form>

		{% if isChosen == 1 %}
		<br>
		<hr>
		<br>
		<div>
		<table align="center">
			<tr>
				<td colspan="2" align="center">
					<h4>{{courseName}}</h4>
				</td>
			</tr>
			<tr>
				<th>Question</th>
				<th>Answer</th>
			</tr>

			{% for q in faq %}

			<tr>
				<td>{{ q.get().question }}</td>
				<td>{{ q.get().answer }}</td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
		</div>
	</div>
</body>

</HTML>
