<!DOCTYPE <html>
<head>
	<title>
		Student View Answers
	</title>

	<link rel="stylesheet" type="text/css" href="../CSS/main.css">

	<style>
		td{
			text-align: center;
		}
	</style>

</head>
<body>
	<div id="menubar">
		<b>{{username}}</b> //
		<a href="/student">Home</a> -
		<a href="/student/faq">FAQ</a> -
		<a href="/student/view_all">Questions</a> -
		<a href="/student/ask">Submit a Question</a> -
		<a href="/change_password">Change Password</a> -
		<a href="/logout">Log Out</a>
	</div>

	<div id="content">
	<h1>Answers to your submitted questions</h1>
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>Course #</th>
					<th>Question</th>
					<th>Answer</th>
					<th>Date Submitted</th>
				</tr>
			</thead>

			<tbody>
				{% for q in questions %}
				<tr>
					<td>
						{{q.course.get().name}}
					</td>

					<td>
						{{q.body}}
					</td>

					<td>
						{% if q.answer == "" %}
						(Not yet answered)
						{% endif %}

						{% if q.answer != "" %}
						{{q.answer}}
						{% endif %}
					</td>

					<td>
						{{q.timestamp.strftime('%m-%d-%Y')}}
					</td>

				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</body>
</html>
